.alert-error {
  color: $alert-error-color;
  padding: 10px;
  text-align: left;
  background: #e6c1ba94;
  border-radius: 8px;
  margin-top: 10px;

  @include media('<=sm') {
    text-align: center;
    padding: 2px;
  }
}
