.form__btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

  &--sm {
    background: var(--bg-color-btn-light);
    flex-grow: 1;
    margin: 0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
}
