.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: var(--bg-color);
  border-radius: 10px;
  padding: 10px;

  &__details {
    @include media('<=sm') {
      gap: 5px;
      display: flex;
      flex-direction: column;
    }

    @include media('>sm') {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
    }

    &--small {
      @include media('<=sm') {
        flex-direction: column;
        font-size: 10px;
      }
    }
  }

  &__icon-container {
    display: flex;
    gap: 10px;
  }
}
