.heading {
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding: 0 10px;
  color: var(--text-color-primary);

  &__logo {
    position: absolute;
    max-width: 40%;
    height: auto;
    right: 0;
    bottom: 1em;

    @include media('<=sm') {
      max-width: 50%;
      right: -20px;
      bottom: 4em;
    }

    @include media('>=sm') {
      @include media('<=md') {
        max-width: 40%;
        right: 0px;
        bottom: 2em;
      }
    }

    @include media('>=xxxl') {
      max-width: 30%;
      bottom: -1em;
    }
  }
}

.heading__details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &--main {
    display: flex;
    flex-direction: column;
  }

  &--primary {
    color: var(--text-color-primary-dark);
    font-size: 5em;
    font-weight: bold;
    margin: 0;

    @include media('<=sm') {
      font-size: 4em;
    }
  }

  &--secondary {
    color: var(--text-color-primary);
    display: flex;
    margin-bottom: 5px;
    gap: 10px;

    &-bold {
      color: var(--text-color-primary-light);
      font-weight: bold;
    }

    &-right {
      color: var(--text-color-primary-light);
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      text-align: right;

      @include media('>sm') {
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
      }
    }
  }
}
