// main colors
$light-primary-color: #000000;
$light-primary-light-color: #666666;
$light-primary-dark-color: #6c40b5;

// background colors
$bg-light-color: #b7b7b7;

// alert colors
$alert-error-color: #de4242;
